<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="shipping_method_management" type="Meticulosity\CollectShipping\Plugin\ShippingMethodManagement\GetPlugin"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_to_quote_table" type="Meticulosity\CollectShipping\Plugin\Quote\SaveToQuote" sortOrder="10" />
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="order_plugin" type="Meticulosity\CollectShipping\Plugin\Model\Order\OrderPlugin"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\AbstractOrder">
        <plugin name="abstract_order_plugin" type="Meticulosity\CollectShipping\Plugin\Block\Adminhtml\Order\AbstractOrder\AbstractOrderPlugin"/>
    </type>
</config>
