<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Meticulosity\ViewCart\Model\ResourceModel\ViewCart\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">quote</argument>
            <argument name="eventPrefix" xsi:type="string">quote</argument>
            <argument name="eventObject" xsi:type="string">quote</argument>
            <argument name="resourceModel" xsi:type="string">Meticulosity\ViewCart\Model\ResourceModel\ViewCart</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!--data provider name which used in grid ui component file -->
                <item name="viewcart_listing_data_source" xsi:type="string">Meticulosity\ViewCart\Model\ResourceModel\ViewCart\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>